html {
    height: 100vh;
}


ul {
    list-style: none;
}

.row-1 {
    display: flex;
    flex-direction: row;
}

.container-1,
.container-2,
.container-3 {
    display: flex;
    border: 1px solid black;
    text-align: center;
}

.container-4 {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.container-5 {
    display: flex;
}

.overall-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    
}

